html {
  overflow-y: scroll;
}

/* *************************     HEADER      ******************************* */
.navbar {
  background-color: #FFFFFF;
}

.search-button {
  font-size: 1.5em;
  color: #757575;
}

.header-button {
  font-size: 1.5em;
  color: #757575;
  padding: .25em;
}

.header-button:hover {
  color: #212529;
}

body {
  font-size: 1em;
  line-height: 1.5em;
  color: #0000000;
}

input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

/* *************************    HOME BODY     ******************************* */
#home-image img {
  width: 100%;
  opacity: 0.75;
}

#home-text {
  position: absolute;
  display:inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#grid-block img {
  width: 100%;
  opacity: 0.75;
}

#grid-block a {
  position: relative;
  transform: translate(0, -500%);
}

/* *************************   SIGN IN PAGE   ******************************* */
.signin {
  align: center;
  display: inline-block;
  width: 33%;
}

.signin .input-box {
  padding: 5px;
}

/* *************************      FOOTER      ******************************* */

.contact-info a {
  font-size: 1em;
  color: #757575;
  padding: .25em;
}

.social-icons a {
  font-size: 1.75em;
  color: #757575;
  padding: .25em;
}


.contact-info a:hover {
  color: #212529;
}

.contact-info {
  text-align: center;
}
