html {
  overflow-y: scroll;
}

/* *****************************    HEADER    ******************************* */
.navbar {
  background-color: #FFFFFF;
}

.search-button {
  font-size: 1.5em;
  color: #757575;
}

.header-button {
  font-size: 1.5em;
  color: #757575;
  padding: .25em;
}

.header-button:hover {
  color: #212529;
}

body {
  font-size: 1em;
  line-height: 1.5em;
  color: #0000000;
}

.badge-notify{
  background:red;
  position:relative;
  top: -20px;
  right: 10px;
}

/* *************************      FOOTER      ******************************* */

.contact-info a {
  font-size: 1em;
  color: #757575;
  padding: .25em;
}

.social-icons a {
  font-size: 1.75em;
  color: #757575;
  padding: .25em;
}

.contact-info a:hover {
  color: #212529;
}

.contact-info {
  text-align: center;
}
